@{Layout = null;}
@using System.Data
@using ZGD.BLL

<!--footer begin-->
<div id="footer">
    <div class="main">
        中国致公党重庆市委员会 主办<br />
        办公地址：重庆市渝中区中山三路125号<br />
        邮编：400015&nbsp;电话：63854934<br />
        电子信箱：cqzg1983@163.com&nbsp;传真：63606210<br />
        <!-- 网警备案号-->
        <p id="wjbah" style="color:#808080;">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=50010302000822" style="display:inline-block;color:#808080;">
                <img src="~/Content/Images/gongan.png" style="float:left;margin-right:5px;">渝公网安备50010302000822号
            </a>
            &nbsp;渝ICP备12003729号-1
        </p>
        <div id="dangzhjiguan">
            <script type="text/javascript">document.write(unescape("%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript src='http://dcs.conac.cn/js/04/062/0000/60865154/CA040620000608651540002.js' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>
    </div>
</div>
<a id="backTop" title="返回顶部" onclick="$('html,body').animate({scrollTop: 0}, 300);" href="javascript:;" class="gotop"></a>
<script type="text/javascript">
    $(function () {

    })
</script>
