@{Layout = null;}
@using System.Data
@using ZGD.BLL

<!--footer begin-->
<div id="footer">
    <div class="main">
        版权所有：致公党&nbsp;致公党&nbsp;&nbsp;&nbsp;渝ICP备14007193号<br />
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=50010802001845"><img src="/files/gaba.png" />渝公网安备 50010802001845号</a><br />
        <a href="/sitemap.xml" target="_blank">站点地图</a>
        <a href="/sitemap.html" target="_blank">网站地图</a>
    </div>
</div>