@{Layout = null;}
@using System.Data

@{
    DataSet ds = new ZGD.BLL.House().GetList(4, " IsLock=0 ", " Click desc");
    DataTable dt = ds != null && ds.Tables[0].Rows.Count > 0 ? ds.Tables[0] : null;
}

@if (dt != null)
{
    <div class="r_panel">
        <div class="r_panel_top"><a href="/house" class="more">查看更多</a><strong>热装楼盘</strong></div>
        <div class="r_panel_con">
            <ul class="h_list_r">
                @foreach (DataRow item in dt.Rows)
                {
                    <li>
                        <div><a href="/house/@(item["ID"].ToString())"><img src="@(item["ImgUrl"].ToString())" /></a></div>
                        <h3 title="@(item["Title"].ToString())"><span><a href="/case?t=2&v=@(item["ID"].ToString())" class="right">CASE&gt;&gt;</a><a href="/house/@(item["ID"].ToString())">@ZGD.Common.ExtensionMethods.ToSubString(item["Title"].ToString(), 12)</a></span></h3>                        
                    </li>
                }
            </ul>
        </div>
    </div>
}