@{Layout = null;}
@using System.Data

@{
    DataSet ds = new ZGD.BLL.Project().GetList(4, " IsLock=0 ", " Click desc");
    DataTable dt = ds != null && ds.Tables[0].Rows.Count > 0 ? ds.Tables[0] : null;
}

@if (dt != null)
{
    <div class="r_panel">
        <div class="r_panel_top"><a href="/case" class="more">查看更多</a><strong>装修案例</strong></div>
        <div class="r_panel_con">
            <ul class="nl_list_r">
                @foreach (DataRow item in dt.Rows)
                {
                    <li>
                        <a href="/case/@(item["Id"].ToString())" title="@(item["Title"].ToString())"><img src="@(item["ImageSmall"].ToString())" /></a>
                        <p>
                            设计师：@(item["DesignerName"].ToString())<br />
                            风&nbsp;&nbsp;&nbsp;格：@(item["fg"].ToString())<br />
                            户&nbsp;&nbsp;&nbsp;型：@(item["hx"].ToString())
                        </p>
                    </li>
                }
            </ul>
        </div>
    </div>
}