@{
    ViewBag.Title = "404未找到该页面";
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <style type="text/css">
        body { font-family: 'Microsoft Yahei', '微软雅黑', 'Nova Flat', cursive, 'Times New Roman', 'Arial', 'Helvetica', 'sans-serif'; color: #337ab7;background: #E4F1FA url(/Content/Images/bg.jpg) center repeat-x;  }

        .pad-top { padding-top: 60px; }
        .text-center { text-align: center; }
        #error-link { font-size: 150px; padding: 10px; }
        .bigfont { font-size: 70px; }
        .btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;text-decoration:none;}
        .btn-primary{color:#fff;background-color:#337ab7;border-color:#2e6da4}
    </style>
</head>
<body><div class="container">
    <div class="row pad-top text-center">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h2>  您访问的页面未找到! </h2>
            <h5> 您访问的页面不存在，请点击页底的链接返回</h5>
            <span id="error-link">404</span>
            <h2>! 访问出错 !</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">
            <div class="bigfont">
                <span class="glyphicon"></span>
            </div>
            <a href="/" class="btn btn-primary">返回首页</a><br /><br />
        </div>
    </div>
</div>
</body>
</html>