<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ZGD.Web.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!-- appSettings网站信息配置-->
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="Configpath" value="~/XmlConfig/site.config"/>
    <!--实体对象内容缓村的时间（分钟）-->
    <add key="ModelCache" value="30"/>
    <!-- 域名-->
    <add key="Domain" value=".zgd.com"/>
    <!-- PC站域名-->
    <add key="Web" value="www.zgd.com"/>
    <!-- 手机站域名-->
    <add key="Mobile" value="m.zgd.com"/>
  </appSettings>
  <!-- 数据库连接字符串\SQL2008R2-->
  <connectionStrings>
    <add name="web_ConnectionString" connectionString="server=.;uid=sa;pwd=111111;database=cqzgd;"/>
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="2000"/>
    <compilation targetFramework="4.5" debug="true">
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>
      </buildProviders>
    </compilation>
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576" requestValidationMode="2.0"/>
    <identity impersonate="true"/>
    <authentication mode="Forms">
      <forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="40"/>
    </authentication>
    <!--发生错误则跳转到Error.htm-->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="/Error/Error.htm"/>
      <error statusCode="404" redirect="/Error/Error.htm"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Html-Integrate" path="*.html" verb="*" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <ZGD.Web.Properties.Settings>
      <setting name="SJS_Web_SmsLinkWs_LinkWS" serializeAs="String">
        <value>http://service2.winic.org:8003/Service.asmx</value>
      </setting>
    </ZGD.Web.Properties.Settings>
  </applicationSettings>
</configuration>