@{
    ViewBag.Title = "BOSS生日party，钜惠来袭";
    ViewBag.Keywords = "港宏,宜家装饰,重庆装修公司,重庆装饰公司,重庆家装公司,整体家装,装修报价,环保家装";
    ViewBag.Description = "重庆港宏宜家装饰公司是港宏装饰集团旗下品牌，是一个集整体配送、整体设计、整体售后、整体环保、整体软装、一站式购齐的整体家装企业，重庆港宏宜家装饰公司在重庆装修公司、重庆装饰公司、重庆家装公司行、重庆环保装修等同行中有丰富的家装经验优势。重庆港宏宜家装饰公司承诺:质量不合格：“砸”、材料不环保：“赔”、服务不满意：“罚”。网络预约尽享实惠咨询热线:023-68526912。";
}

@using System.Data
@using ZGD.Common

@section Head
{
    <style type="text/css">
        .b1 { height: 833px; background: url(/Content/Images/zt/gx/1.jpg) center no-repeat; }
        .b2 { height: 976px; background: url(/Content/Images/zt/gx/2.jpg) center no-repeat; }
        .b2 .main { padding-top: 576px; }
        .b2 .bm_panel { padding-left: 600px; }
        .b2 .bm_panel .form { float: left; }
        .b2 .bm_panel .form td { padding: 2px 0; }
        .b2 .bm_panel .txt { height: 30px; line-height: 30px; padding-left: 5px; border-radius: 5px; border: 1px solid #BA2452; }
        .b2 .bm_panel .btn { background-color: #FFE224; height: 33px; color: #EC0146; border: 0; width: 188px; font-weight: bold; cursor: pointer; border-radius: 5px; border: 1px solid #BA2452; }
        .b2 .bm_list { width: 250px; height: 287px; float: left; padding-left: 45px; }
        .b2 .bm_list h3 { color: #fff; font-weight: 500; font-size: 18px; text-align: center; margin-bottom: 5px; }
        .b2 .bm_list h3 span { color: #FFE224 }
        .b2 .bm_list div { width: 220px; height: 136px; background-color: #fff; border-radius: 5px; padding: 10px 15px; overflow: hidden; }
        .b2 .bm_list div ul li { height: 25px; line-height: 25px; color: #AB0F3E; font-size: 14px; }
        .b3 { height: 1197px; background: url(/Content/Images/zt/gx/3.jpg) center no-repeat; }
        .b4 { height: 1023px; background: url(/Content/Images/zt/gx/4.jpg) center no-repeat; }
        .b5 { height: 865px; background: url(/Content/Images/zt/gx/5.jpg) center no-repeat; }
        .b6 { height: 929px; background: url(/Content/Images/zt/gx/6.jpg) center no-repeat; }
        .b7 { height: 884px; background: url(/Content/Images/zt/gx/7.jpg) center no-repeat; }
        .b8 { height: 945px; background: url(/Content/Images/zt/gx/8.jpg) center no-repeat; }
        .b9 { height: 1180px; background: url(/Content/Images/zt/gx/9.jpg) center no-repeat; }
        .b10 { height: 726px; background: url(/Content/Images/zt/gx/10.jpg) center no-repeat; }
        .b11 { height: 770px; background: url(/Content/Images/zt/gx/11.jpg) center no-repeat; }
        .b12 { height: 1358px; background: url(/Content/Images/zt/gx/12.jpg) center no-repeat; }
        .b13 { height: 215px; background: url(/Content/Images/zt/gx/f.png) center no-repeat; position: fixed; width: 100%; bottom: 0; left: 0; }
        .b13 .bm_panel { width: 100%; position: relative; }
        .b13 .bm_panel .form { padding-top: 145px; padding-left: 450px }
        .b13 .bm_panel .txt { height: 30px; line-height: 30px; padding-left: 5px; }
        .b13 .bm_panel .btn { background-color: #FFE224; height: 35px; color: #EC0146; border: 0; width: 100px; font-weight: bold; cursor: pointer; }
        .b13 .logo1 { width: 451px; height: 287px; position: absolute; top: -30px; left: 0px; background: url(/Content/Images/zt/gx/f_bg.png) center no-repeat; }
        .space{height:100px;}
        #footer{display:none;}
    </style>
}
@{Html.RenderAction("Top", "Ctrl", new { menuID = 3 });}
<!--content begin-->
<div id="content">
    <div class="b1"></div>
    <div class="b2">
        <div class="main">
            <div class="bm_panel">
                <form method="post" id="form_join" class="form">
                    <table>
                        <tr>
                            <td><input type="text" class="txt" name="UserName" id="join_UserName" style="width:180px;" placeholder="姓名" /></td>
                        </tr>
                        <tr><td><input type="text" class="txt" name="Phone" id="join_Phone" style="width:180px;" placeholder="电话" /></td></tr>
                        <tr><td><input type="text" class="txt" name="House" id="join_House" style="width:180px;" placeholder="楼盘" /></td></tr>
                        <tr><td><input type="text" class="txt" name="vCode" id="join_vCode" style="width:90px;" placeholder="验证码" /> <img src="/Tools/verify_code.ashx" onclick="ChangeCode('nl_join_code');" id="nl_join_code" style="height:30px;margin-left:2px;" /></td></tr>
                        <tr>
                            <td>
                                <input type="submit" class="btn" value="立即抢占名额" id="btnSubmit" />
                                <input type="hidden" value="4" name="aID" />
                            </td>
                        </tr>
                    </table>
                </form>
                <div class="bm_list">
                    <h3>已有<span>@(ViewBag.ACount + 20)名</span>用户预约成功</h3>
                    <div>
                        <marquee direction="up" scrollamount="3" width="100%" height="100%" onMouseOver="this.stop()" onMouseOut="this.start()">
                            <ul>
                                @if (ViewBag.JoinList != null && ViewBag.JoinList.Rows.Count > 0)
                                {
                                    foreach (DataRow item in ViewBag.JoinList.Rows)
                                    {
                                        <li>来自@(item["Phone"].ToString())的业主报名成功</li>
                                    }
                                }
                                <li>来自134****5249的业主报名成功</li>
                                <li>来自134****2365的业主报名成功</li>
                                <li>来自158****1346的业主报名成功</li>
                                <li>来自189****2356的业主报名成功</li>
                                <li>来自131****9522的业主报名成功</li>
                            </ul>
                        </marquee>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $('#form_join').submit(function () {
                var name = $("#join_UserName").val();
                var tel = $("#join_Phone").val();
                var house = $("#join_House").val();
                var code = $("#join_vCode").val();
                if ($.trim(name) == "") {
                    layer.alert("请输入您的称呼!");
                    return false;
                }
                if ($.trim(tel) == "") {
                    layer.alert("请输入您的电话!");
                    return false;
                }
                if ($.trim(house) == "") {
                    layer.alert("请输入您的楼盘名称!");
                    return false;
                }
                if ($.trim(code) == "") {
                    layer.alert("请输入您的验证码!");
                    return false;
                }
                $(this).ajaxSubmit({
                    url: "/home/ajoin",
                    type: "post",
                    dataType: "json",
                    beforeSubmit: function () {
                        layer.load(1, { shade: [0.1, '#000'] });
                    },
                    error: function () {
                        layer.closeAll('loading');
                        layer.alert("请求失败");
                    },
                    success: function (data) {
                        layer.closeAll('loading');
                        if (data != null) {
                            if (data.Success) {
                                layer.alert(data.Msg, function () {
                                    window.location.href = window.location.href;
                                });
                            }
                            else
                                layer.alert(data.Msg);
                        }
                        else
                            layer.alert("提交失败");
                    }
                });
                return false;
            });
        </script>
    </div>
    <div class="b3"></div>
    <div class="b4"></div>
    <div class="b5"></div>
    <div class="b6"></div>
    <div class="b7"></div>
    <div class="b8"></div>
    <div class="b9"></div>
    <div class="b10"></div>
    <div class="b11"></div>
    <div class="b12"></div>
</div>
<div class="space"></div>
<div class="b13">
    <div class="main">
        <div class="bm_panel">
            <div class="logo1"></div>
            <form method="post" id="form_join2" class="form">
                <table>
                    <tr>
                        <td><input type="text" class="txt" name="UserName" id="join_UserName2" style="width:100px;" placeholder="姓名" /></td>
                        <td><input type="text" class="txt" name="Phone" id="join_Phone2" style="width:120px;" placeholder="电话" /></td>
                        <td><input type="text" class="txt" name="House" id="join_House2" style="width:140px;" placeholder="楼盘" /></td>
                        <td><input type="text" class="txt" name="vCode" id="join_vCode2" style="width:70px;" placeholder="验证码" /> <img src="/Tools/verify_code.ashx" onclick="ChangeCode('nl_join_code2');" id="nl_join_code2" style="height:35px;margin-left:2px;" /></td>
                        <td>
                            <input type="submit" class="btn" value="立即报名" id="btnSubmit2" />
                            <input type="hidden" value="4" name="aID" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        $('#form_join2').submit(function () {
            var name = $("#join_UserName2").val();
            var tel = $("#join_Phone2").val();
            var house = $("#join_House2").val();
            var code = $("#join_vCode2").val();
            if ($.trim(name) == "") {
                layer.alert("请输入您的称呼!");
                return false;
            }
            if ($.trim(tel) == "") {
                layer.alert("请输入您的电话!");
                return false;
            }
            if ($.trim(house) == "") {
                layer.alert("请输入您的楼盘名称!");
                return false;
            }
            if ($.trim(code) == "") {
                layer.alert("请输入您的验证码!");
                return false;
            }
            $(this).ajaxSubmit({
                url: "/home/ajoin",
                type: "post",
                dataType: "json",
                beforeSubmit: function () {
                    layer.load(1, { shade: [0.1, '#000'] });
                },
                error: function () {
                    layer.closeAll('loading');
                    layer.alert("请求失败");
                },
                success: function (data) {
                    layer.closeAll('loading');
                    if (data != null) {
                        if (data.Success) {
                            layer.alert(data.Msg, function () {
                                window.location.href = window.location.href;
                            });
                        }
                        else
                            layer.alert(data.Msg);
                    }
                    else
                        layer.alert("提交失败");
                }
            });
            return false;
        });
    </script>
</div>



<!--content end-->
