@{
    ViewBag.Title = "年中大促，万元豪礼送不停";
    ViewBag.Keywords = "港宏,宜家装饰,重庆装修公司,重庆装饰公司,重庆家装公司,整体家装,装修报价,环保家装";
    ViewBag.Description = "重庆港宏宜家装饰公司是港宏装饰集团旗下品牌，是一个集整体配送、整体设计、整体售后、整体环保、整体软装、一站式购齐的整体家装企业，重庆港宏宜家装饰公司在重庆装修公司、重庆装饰公司、重庆家装公司行、重庆环保装修等同行中有丰富的家装经验优势。重庆港宏宜家装饰公司承诺:质量不合格：“砸”、材料不环保：“赔”、服务不满意：“罚”。网络预约尽享实惠咨询热线:023-68526912。";
}

@section Head
{
    <style type="text/css">
        .space60 { border: 0px; padding: 0px; margin: 0px; width: 100%; clear: both; height: 60px; }
        #content { border-top: solid 1px #8E8E8E; }
        .szt_top { height: 234px; padding-top: 700px; background: url(/Content/Images/zt/year/top.jpg) top center no-repeat; }
        .szt_top ul { width: 1100px; display: block; height: 180px; padding-left: 100px; }
        .szt_top ul li { width: 180px; height: 180px; float: left; margin-left: 15px; }
        .szt_top ul li a { display: block; height: 180px; }
        .szt_mid { height: 773px; background: url(/Content/Images/zt/year/form.jpg) top center no-repeat; }
        .szt_mid .szt_top_form { }
        .szt_mid .szt_top_form .form_info { width: 270px; float: right; margin: 420px 130px 0 0; }
        .szt_mid .szt_top_form .form_info td { padding: 3px 2px; font-size: 14px; color: #fff; }
        .szt_mid .szt_top_form .form_info td p { padding-top: 10px; padding-left: 10px; }
        .szt_mid .szt_top_form .form_info td p span { color: #FFCC1B; }
        .szt_mid .szt_top_form .form_info .txt { width: 160px; border: solid 1px #fff; height: 26px; }
        .szt_mid .szt_top_form .form_info .btn { width: 220px; height: 36px; line-height: 36px; background-color: #FFCC1B; text-align: center; color: #492EA4; font-size: 16px; font-weight: bold; border: 0; border-radius: 8px; margin-left: 15px; cursor: pointer; }
        .szt_ad1 { height: 667px; background: url(/Content/Images/zt/year/ad1.jpg) top center no-repeat; }
        .szt_ad2 { height: 877px; background: url(/Content/Images/zt/year/ad2.jpg) top center no-repeat; }
        .szt_ad2 a { width: 600px; height: 580px; margin:0 auto;display:block;}
        .szt_ad3 { height: 630px; background: url(/Content/Images/zt/year/ad3.jpg) top center no-repeat; }
        .szt_ad4 { height: 321px; background: url(/Content/Images/zt/year/ad4.jpg) top center no-repeat; }
        .szt_ad5 { height: 826px; background: url(/Content/Images/zt/year/ad5.jpg) top center no-repeat; }
        .szt_ad6 { height: 610px; padding-top: 324px; background: url(/Content/Images/zt/year/ad6.jpg) top center no-repeat; }
        .szt_ad6 .bx_wrap .prev, .szt_ad6 .bx_wrap .next { width: 46px; height: 76px; display: inline-block; position: absolute; z-index: 888; background-image: url(/Content/Images/zt/year/slider2.png); background-repeat: no-repeat; top: 220px; }
        .szt_ad6 .bx_wrap { width: 1127px; height: 550px; margin: 0 auto; position: relative; }
        .szt_ad6 .bx_wrap .prev { left: 0; background-position: 0 0; }
        .szt_ad6 .bx_wrap .next { right: 0; background-position: -69px 0; }
        .szt_ad7 { height: 640px; padding-top: 374px; background: url(/Content/Images/zt/year/ad7.jpg) top center no-repeat; }
        .szt_ad7 .bx_wrap .prev, .szt_ad7 .bx_wrap .next { width: 77px; height: 77px; display: inline-block; position: absolute; z-index: 888; background-image: url(/Content/Images/zt/year/slider.png); background-repeat: no-repeat; top: 230px; }
        .szt_ad7 .bx_wrap { width: 1125px; height: 550px; margin: 0 auto; position: relative; padding-left: 4px; }
        .szt_ad7 .bx_wrap .prev { left: 5px; background-position: 0 0; }
        .szt_ad7 .bx_wrap .next { right: 5px; background-position: -103px 0; }
        .bx_container { width: 1127px; height: 550px; position: relative; }

        .szt_ad8 { height: 919px; background: url(/Content/Images/zt/year/ad8.jpg) top center no-repeat; }
        .szt_ad9 { width: 100%; height: 150px; background: url(/Content/Images/zt/year/f_bg.jpg) repeat-x; position: fixed; bottom: 0; left: 0; }
        .szt_ad9 .xl_main { width: 1200px; margin: 0 auto; height: 100%; color: #fff; }
        .szt_ad9 .zx_panel { height: 90px; padding-top: 20px; }
        .szt_ad9 .zx_panel .form { margin-left: 25px; }
        .szt_ad9 .zx_panel div { background: url(/Content/Images/zt/year/f_logo.png) center no-repeat; width: 444px; height: 384px; position: absolute; top: -100px; margin-left: -80px; border: 0; }
        .szt_ad9 .zx_panel div p { color: #FFCC1B; }
        .szt_ad9 .zx_panel .form { margin-left: 400px; }
        .szt_ad9 .zx_panel h3 { width: 100%; height: 32px; background: url(/Content/Images/zt/year/f_tel.png) center no-repeat; display: inline-block; margin-bottom: 5px; }
        .szt_ad9 .zx_panel table tr td { color: #fff; padding-top: 5px; padding-bottom: 5px; }
        .szt_ad9 .zx_panel table tr td .txt { width: 120px; }
        .szt_ad9 .zx_panel table tr td .btn { width: 200px; height: 28px; line-height: 28px; background-color: #FFCC1B; text-align: center; color: #343432; font-size: 16px; font-weight: bold; border: 0; border-radius: 8px; margin-left: 0; cursor: pointer; }
        .szt_ad9 .zx_panel .code { width: 128px; height: 128px; background: url(/Content/Images/zt/year/f_code.png) center no-repeat; display: inline-block; position: absolute; margin-left: 100px; top: 12px; }
    </style>
    <script src="/Content/Scripts/bxCarousel.js"></script>
}
@{Html.RenderAction("Top", "Ctrl", new { menuID = 3 });}
<!--content begin-->
<div id="content" style="padding: 0;">
    <div class="szt_top">
        <div class="main">
            <ul>
                <li><a href="http://p9.qiao.baidu.com//im/index?siteid=6092294&ucid=6801410&lastsubid=943193&from=%E9%87%8D%E5%BA%86%E5%8D%97%E5%B2%B8&bid=94a2a09a457b752f54cbd829&chattype=1&groupid=&groupname=&subid=&subname=&ref=http%3A%2F%2Fwww.ghjia.com%2F"></a></li>
                <li><a href="http://p9.qiao.baidu.com//im/index?siteid=6092294&ucid=6801410&lastsubid=943193&from=%E9%87%8D%E5%BA%86%E5%8D%97%E5%B2%B8&bid=94a2a09a457b752f54cbd829&chattype=1&groupid=&groupname=&subid=&subname=&ref=http%3A%2F%2Fwww.ghjia.com%2F"></a></li>
                <li><a href="http://p9.qiao.baidu.com//im/index?siteid=6092294&ucid=6801410&lastsubid=943193&from=%E9%87%8D%E5%BA%86%E5%8D%97%E5%B2%B8&bid=94a2a09a457b752f54cbd829&chattype=1&groupid=&groupname=&subid=&subname=&ref=http%3A%2F%2Fwww.ghjia.com%2F"></a></li>
                <li><a href="http://p9.qiao.baidu.com//im/index?siteid=6092294&ucid=6801410&lastsubid=943193&from=%E9%87%8D%E5%BA%86%E5%8D%97%E5%B2%B8&bid=94a2a09a457b752f54cbd829&chattype=1&groupid=&groupname=&subid=&subname=&ref=http%3A%2F%2Fwww.ghjia.com%2F"></a></li>
                <li><a href="http://p9.qiao.baidu.com//im/index?siteid=6092294&ucid=6801410&lastsubid=943193&from=%E9%87%8D%E5%BA%86%E5%8D%97%E5%B2%B8&bid=94a2a09a457b752f54cbd829&chattype=1&groupid=&groupname=&subid=&subname=&ref=http%3A%2F%2Fwww.ghjia.com%2F"></a></li>
            </ul>
        </div>
    </div>
    <div class="szt_mid">
        <div class="szt_top_form main">
            <div class="form_info">
                <form method="post" id="form_join_a">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr><td align="right" width="70">姓名：</td><td><input type="text" name="UserName" class="txt" id="a_UserName" /></td></tr>
                        <tr><td align="right">电话：</td><td><input type="text" name="Phone" class="txt" id="a_Phone" /></td></tr>
                        <tr><td align="right">小区：</td><td><input type="text" class="txt" name="House" id="a_House" /></td></tr>
                        <tr><td align="right">验证码：</td><td><input type="text" class="txt" name="vCode" id="a_vCode" style="width:70px;float:left;" /> <img src="/Tools/verify_code.ashx" onclick="ChangeCode('a_join_code');" id="a_join_code" style="height:28px;margin-left:5px;cursor:pointer;" title="点击换一张" /></td></tr>
                        <tr><td colspan="2" style="padding-top:15px;" align="center"><input type="button" class="btn" onclick="zt_join('form_join_a', 'a');" value="立即索票 >" id="a_btnSubmit" /><input type="hidden" value="1" name="aID" /></td></tr>
                        <tr>
                            <td colspan="2" align="center"><p>* 已有<span id="a_count">@(ViewBag.ACount + 100)</span>名索要成功！</p></td>
                        </tr>
                    </table>
                </form>
                <script type="text/javascript">
                    function zt_join(id, type) {
                        var name = $("#" + type + "_UserName").val();
                        var tel = $("#" + type + "_Phone").val();
                        var house = $("#" + type + "_House").val();
                        var code = $("#" + type + "_vCode").val();
                        if ($.trim(name) == "") {
                            layer.alert("请输入您的称呼!");
                            return false;
                        }
                        if ($.trim(tel) == "") {
                            layer.alert("请输入您的电话!");
                            return false;
                        }
                        //if ($.trim(house) == "") {
                        //    layer.alert("请输入您的小区名称!");
                        //    return false;
                        //}
                        if ($.trim(code) == "") {
                            layer.alert("请输入您的验证码!");
                            return false;
                        }
                        $("#" + id).ajaxSubmit({
                            url: "/home/ajoin",
                            type: "post",
                            dataType: "json",
                            beforeSubmit: function () {
                                layer.load(1, { shade: [0.1, '#000'] });
                            },
                            error: function () {
                                layer.closeAll('loading');
                                layer.alert("请求失败");
                            },
                            success: function (data) {
                                layer.closeAll('loading');
                                if (data != null) {
                                    if (data.Success) {
                                        layer.alert(data.Msg, function () {
                                            window.location.href = window.location.href;
                                        });
                                    }
                                    else
                                        layer.alert(data.Msg);
                                }
                                else
                                    layer.alert("提交失败");
                            }
                        });
                        return false;
                    }
                </script>
            </div>
        </div>
    </div>
    <div class="szt_ad1"></div>
    <div class="szt_ad2">
        <a href="http://p9.qiao.baidu.com//im/index?siteid=6092294&ucid=6801410&lastsubid=943193&from=%E9%87%8D%E5%BA%86%E5%8D%97%E5%B2%B8&bid=94a2a09a457b752f54cbd829&chattype=1&groupid=&groupname=&subid=&subname=&ref=http%3A%2F%2Fwww.ghjia.com%2F"></a>
    </div>
    <div class="szt_ad3"></div>
    <div class="szt_ad4"></div>
    <div class="szt_ad5"></div>
    <div class="szt_ad6">
        <div class="main">
            <div class="silder_a" id="silder_a_1">
                <ul>
                    <li><img src="/Content/Images/zt/year/gy/1.jpg" /></li>
                    <li><img src="/Content/Images/zt/year/gy/2.jpg" /></li>
                    <li><img src="/Content/Images/zt/year/gy/3.jpg" /></li>
                    <li><img src="/Content/Images/zt/year/gy/4.jpg" /></li>
                    <li><img src="/Content/Images/zt/year/gy/5.jpg" /></li>
                    <li><img src="/Content/Images/zt/year/gy/6.jpg" /></li>
                    <li><img src="/Content/Images/zt/year/gy/7.jpg" /></li>
                    <li><img src="/Content/Images/zt/year/gy/8.jpg" /></li>
                </ul>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#silder_a_1').bxCarousel({
                        display_num: 1,
                        move: 1,
                        auto: true,
                        controls: true,
                        auto_interval: 4000,
                        margin: 7,
                        auto_hover: false,
                        next_text: "",
                        prev_text: ""
                    });
                })
            </script>
        </div>
    </div>
    <div class="szt_ad7">
        <div class="main">
            <div class="silder_a" id="silder_a_2">
                <ul>
                    <li><img src="/Content/Images/zt/year/zt/1.jpg" /></li>
                    <li><img src="/Content/Images/zt/year/zt/2.jpg" /></li>
                    <li><img src="/Content/Images/zt/year/zt/3.jpg" /></li>
                    <li><img src="/Content/Images/zt/year/zt/4.jpg" /></li>
                    <li><img src="/Content/Images/zt/year/zt/5.jpg" /></li>
                    <li><img src="/Content/Images/zt/year/zt/6.jpg" /></li>
                    <li><img src="/Content/Images/zt/year/zt/7.jpg" /></li>
                    <li><img src="/Content/Images/zt/year/zt/8.jpg" /></li>
                </ul>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#silder_a_2').bxCarousel({
                        display_num: 1,
                        move: 1,
                        auto: true,
                        controls: true,
                        auto_interval: 4000,
                        margin: 7,
                        auto_hover: false,
                        next_text: "",
                        prev_text: ""
                    });
                })
            </script>
        </div>
    </div>
    <div class="szt_ad8"></div>
    <div class="space60"></div>
    <div class="szt_ad9">
        <div class="xl_main">
            <div class="zx_panel">
                <div></div>
                <form method="post" id="form_join" class="form">
                    <h3></h3>
                    <table>
                        <tr>
                            <td>您的称呼：<input type="text" class="txt" name="UserName" id="join_UserName" /></td>
                            <td><label>验证码：</label><input type="text" class="txt" name="vCode" id="join_vCode" style="width:70px;float:left;" /> <img src="/Tools/verify_code.ashx" onclick="ChangeCode('nl_join_code');" id="nl_join_code" style="height:28px;margin-left:2px;" /></td>
                        </tr>
                        <tr>
                            <td>联系电话：<input type="text" class="txt" name="Phone" id="join_Phone" /></td>
                            <td>
                                <input type="submit" class="btn" value="立即报名" id="btnSubmit" />
                                <input type="hidden" value="1" name="aID" />
                            </td>
                        </tr>
                    </table>
                </form>
                <em class="code"></em>
                <script type="text/javascript">
                    $('#form_join').submit(function () {
                        var name = $("#join_UserName").val();
                        var tel = $("#join_Phone").val();
                        //var house = $("#join_House").val();
                        var code = $("#join_vCode").val();
                        if ($.trim(name) == "") {
                            layer.alert("请输入您的称呼!");
                            return false;
                        }
                        if ($.trim(tel) == "") {
                            layer.alert("请输入您的电话!");
                            return false;
                        }
                        //if ($.trim(house) == "") {
                        //    layer.alert("请输入您的楼盘名称!");
                        //    return false;
                        //}
                        if ($.trim(code) == "") {
                            layer.alert("请输入您的验证码!");
                            return false;
                        }
                        $(this).ajaxSubmit({
                            url: "/home/ajoin",
                            type: "post",
                            dataType: "json",
                            beforeSubmit: function () {
                                layer.load(1, { shade: [0.1, '#000'] });
                            },
                            error: function () {
                                layer.closeAll('loading');
                                layer.alert("请求失败");
                            },
                            success: function (data) {
                                layer.closeAll('loading');
                                if (data != null) {
                                    if (data.Success) {
                                        layer.alert(data.Msg, function () {
                                            window.location.href = window.location.href;
                                        });
                                    }
                                    else
                                        layer.alert(data.Msg);
                                }
                                else
                                    layer.alert("提交失败");
                            }
                        });
                        return false;
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<!--content end-->