<?xml version="1.0"?>
<SiteConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <webname>致公党网络平台</webname>
  <weburl>http://www.cqzgd.cn</weburl>
  <weblogo />
  <webcompany>致公党</webcompany>
  <webaddress>重庆市</webaddress>
  <webtel>13452355249</webtel>
  <webfax>-</webfax>
  <webmail>197409335@qq.com</webmail>
  <webcrod>渝ICP备12003729号-1</webcrod>
  <webtitle>致公党</webtitle>
  <webkeyword>致公党</webkeyword>
  <webdescription>致公党</webdescription>
  <webcopyright>版权所有 致公党 © Copyright 2018 - 2019. All Rights Reserved.</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>0</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode>&lt;script src="http://s24.cnzz.com/stat.php?id=1996164&amp;web_id=1996164&amp;show=pic" language="JavaScript"&gt;&lt;/script&gt;</webcountcode>
  <smsapiurl>http://sms.dtcms.net/httpapi/</smsapiurl>
  <smsusername>test</smsusername>
  <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
  <emailsmtp>smtp.qq.com</emailsmtp>
  <emailport>25</emailport>
  <emailfrom>info@it134.cn</emailfrom>
  <emailusername>info@it134.cn</emailusername>
  <emailpassword>EA4C94A47ED87546</emailpassword>
  <emailnickname>致公党</emailnickname>
  <filepath>UpLoadFiles</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt,swf</fileextension>
  <attachsize>51200000</attachsize>
  <imgsize>10240000</imgsize>
  <imgmaxheight>0</imgmaxheight>
  <imgmaxwidth>0</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>0</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>致公党</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>DTcms</sysencryptstring>
</SiteConfig>