.Wdate { border: #ababab 1px solid; width: 130px; height: 17px; background: #FFFFFF url(datePicker.gif) 2px center no-repeat; padding-left:20px;padding-top:1px;cursor:pointer;color:#222}
.Wdate_d{ border: #ababab 1px solid; width: 80px; height: 17px; background: #FFFFFF url(datePicker.gif) 2px center no-repeat; padding-left:20px;cursor:pointer;color:#222}
.WdateFmtErr { font-weight: bold; color: red; }
