@CHARSET "UTF-8";

body { font: 12px/1.5 '宋体'; color: #2E2E2E; background: #E4F1FA url(../Images/bg.jpg) center 25px repeat-x; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
em, i { font-style: normal; }
ul, li { list-style: none; }
input, select, img, button { vertical-align: middle; font-family: 'Microsoft YaHei'; }
img { border: 0; }
textarea { resize: none; }
textarea:focus, input:focus { outline: none; }
a { color: #333; text-decoration: none; }
a:hover { color: #FF5500; }

.ti20 { text-indent: 20px; }
.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
.vm { vertical-align: middle; }
.vt { vertical-align: top; }
.vb { vertical-align: bottom; }
.dl { text-decoration: underline; }
.dn { text-decoration: none; }
.lt { text-decoration: line-through; }
.yh { font-family: 微软雅黑; }
.clear { height: 0px; clear: both; _font-size: 1px; visibility: hidden; }
.right { float: right; }
.left { float: left; }
.main { width: 980px; height: auto; margin: 0 auto; }
.page_hr { border-top: solid 1px #D0E1F6; margin: 0 50px; }

.hide { display: none; }
.show { display: block; }
.inblock { display: inline-block; }
.pink { color: #DF117B; }
.pink2 { color: #CF0F3F; }
.black { color: #000; }
.gray1 { color: #ACACAC; }
.gray2 { color: #333; }
.gray3 { color: #666; }
.white { color: #fff; }
.green { color: #01af63; }
.green2 { color: #49771A; }
.red { color: #CD0404; }
.blue { color: #6191ca; }
.blue2 { color: #002F5F; }
.org { color: #E86D00; }
.gray_bg1 { background-color: #ccc; }
.gray_bg2 { background-color: #E7E7E7; }
.gray_bg3 { background-color: #f7f7f7; }
.green_bg { background-color: #EEF4EA; }
.white_bg { background-color: #fff; }
.blue_bg { background-color: #6191ca; }
.red_bg { background-color: #fde9d9; }
.yellow_bg { background-color: #ffffbd; }
.light_gb { background-color: #55e6a6; }
.bluewhite_bg { background-color: #c6ffff; }
.fw500 { font-weight: 500; }
.bold { font-weight: bold; }
.fz10 { font-size: 10px; }
.fz11 { font-size: 11px; }
.fz12 { font-size: 12px; }
.fz13 { font-size: 13px; }
.fz14 { font-size: 14px; }
.fz15 { font-size: 15px; }
.fz16 { font-size: 16px; }
.fz18 { font-size: 18px; }
.fz20 { font-size: 20px; }
.fz21 { font-size: 21px; }
.fz22 { font-size: 22px; }
.fz23 { font-size: 23px; }
.fz24 { font-size: 24px; }
.fz26 { font-size: 26px; }
.fz28 { font-size: 28px; }
.fz30 { font-size: 30px; }
.fz32 { font-size: 32px; }
.fz34 { font-size: 34px; }

.pager { height: 40px; padding: 15px 0 20px 0; text-align: center; font-size: 14px; }
.pager a { padding: 8px 13px; border: solid 1px #ccc; color: #333;margin-right:-1px; }
.pager span { padding: 8px 13px; background-color: #FF5500; color: #fff; font-weight: 600; border: solid 1px #FF5500; }
.pager a:hover { background-color: #FF5500; color: #fff; text-decoration: none; border: solid 1px #FF5500; }

.space1 { border: 0px; padding: 0px; margin: 0px; width: 100%; clear: both; height: 1px; font-size: 1px; }
.space5 { border: 0px; padding: 0px; margin: 0px; width: 100%; clear: both; height: 5px; }
.space10 { border: 0px; padding: 0px; margin: 0px; width: 100%; clear: both; height: 10px; }
.space15 { border: 0px; padding: 0px; margin: 0px; width: 100%; clear: both; height: 15px; }
.space20 { border: 0px; padding: 0px; margin: 0px; width: 100%; clear: both; height: 20px; }
.space30 { border: 0px; padding: 0px; margin: 0px; width: 100%; clear: both; height: 30px; }
.space40 { border: 0px; padding: 0px; margin: 0px; width: 100%; clear: both; height: 40px; }
.space50 { border: 0px; padding: 0px; margin: 0px; width: 100%; clear: both; height: 50px; }
.space60 { border: 0px; padding: 0px; margin: 0px; width: 100%; clear: both; height: 60px; }
.space110 { border: 0px; padding: 0px; margin: 0px; width: 100%; clear: both; height: 110px; }

/******top******/
.top { height: 25px; line-height: 25px; color: #fff; background: url(../Images/top_bg.png) top center repeat-x; }
.top .right { height: 25px; }
.body_bg { height: 350px; background: url(../Images/bg2.jpg) center 25px no-repeat; }
.banner { }
.banner .banner_bg { height: 250px; background: url(../Images/banner.jpg) no-repeat; }

.banner .nav { height: 38px; background: url(../Images/nav_bg.png) repeat-x; }
.banner .nav ul li { width: 136px; height: 38px; float: left; background: url(../Images/nav_s.png) right center no-repeat; padding: 0 2px; }
.banner .nav ul li a { height: 38px; line-height: 38px; display: block; text-align: center; color: #fff; font-size: 15px; font-weight: bold; }
.banner .nav ul li a:hover { background: url(../Images/nav_hover.png) center repeat-x }
.banner .nav ul li a.hover { background: url(../Images/nav_hover.png) center repeat-x }

/******底部******/
#footer { line-height: 25px; text-align: center; }
#footer .main { padding: 20px 0; background: #fff; }
