@{Layout = null;}


<div class="slider_panel" id="slider_panel">
    <ul class="slider_img">
        <li><a href="#" target="_blank" style="background-image:url(/Files/banner.jpg);"></a></li>
        <li><a href="#" target="_blank" style="background-image:url(/Files/banner.jpg);"></a></li>
        <li><a href="#" target="_blank" style="background-image:url(/Files/banner.jpg);"></a></li>
    </ul>
    <div class="slider_a">
        <a href="javascript:;" class="hover"></a>
        <a href="javascript:;"></a>
        <a href="javascript:;"></a>
    </div>
    <script type="text/javascript">
        $("#slider_panel").Xslider({ show: false });
    </script>
</div>