
@using ZGD.Common

@{
    ViewBag.Title = "用户登录";
    ViewBag.Keywords = "用户登录";
    ViewBag.Description = "用户登录";
}

@section Head
{
    <style type="text/css">
        #content { background: url(/Content/Images/reg_bg.jpg) no-repeat center; padding: 80px 0 100px 0; }
    </style>
}

@{Html.RenderAction("Top", "Ctrl", new { menuID = 0 });}
<div id="content">
    <div class="main">
        <div class="reg_panel">
            <h3>用户登录</h3>
            <form id="data_form">
                <div>
                    <p><input type="text" class="txt" name="Phone" id="Phone" placeholder="请输入您的手机号" /></p>
                    <p><input type="password" class="txt" name="Password" id="Password" placeholder="请输入登录密码" /></p>
                    <p class="vcode"><input type="text" class="txt" name="ImgCode" id="ImgCode" placeholder="请输入图片验证码" /><img src="/Tools/verify_code.ashx" id="nl_cacl_code" title="点击切换验证码" onclick="ChangeCode('nl_cacl_code');" /></p>
                    <p><input type="checkbox" name="IsRem" value="true" /> 记住我，<a href="/user/find">忘记密码？</a></p>
                    <p class="btn_p"><button type="submit" class="btn">立即登录</button></p>
                    <p class="txt_p">还没有账号？<a href="/user/reg">立即注册&gt;</a></p>
                </div>
            </form>

            <script type="text/javascript">
                $('#data_form').submit(function () {
                    var name = $("#Phone").val();
                    var pwd = $("#Password").val();
                    var code = $("#ImgCode").val();
                    if ($.trim(name) == "" || name.length != 11) {
                        layer.alert("请输入正确的手机号!");
                        return false;
                    }
                    if ($.trim(pwd) == "") {
                        layer.alert("请输入登录密码!");
                        return false;
                    }
                    if ($.trim(code) == "") {
                        layer.alert("请输入您的验证码!");
                        return false;
                    }
                    $(this).ajaxSubmit({
                        url: "/user/login",
                        type: "post",
                        dataType: "json",
                        beforeSubmit: function () {
                            layer.load(1, { shade: [0.1, '#000'] });
                        },
                        error: function () {
                            layer.closeAll();
                            layer.alert("请求失败");
                        },
                        success: function (data) {
                            layer.closeAll();
                            ChangeCode('nl_cacl_code');
                            if (data != null) {
                                if (data.Success) {
                                    layer.alert(data.Msg, function () {
                                        window.location.href = data.Source;
                                    });
                                }
                                else
                                    layer.alert(data.Msg);
                            }
                            else
                                layer.alert("提交失败");
                        }
                    });
                    return false;
                });
            </script>
        </div>
    </div>
</div>