
@using ZGD.Common

@{
    ViewBag.Title = "用户注册";
    ViewBag.Keywords = "用户注册";
    ViewBag.Description = "用户注册";
}

@section Head
{
    <style type="text/css">
        #content { background: url(/Content/Images/reg_bg.jpg) no-repeat center; padding: 80px 0 100px 0; }
    </style>
}

@{Html.RenderAction("Top", "Ctrl", new { menuID = 0 });}
<div id="content">
    <div class="main">
        <div class="reg_panel">
            <h3>用户注册</h3>
            <form id="data_form">
                <div>
                    <p><input type="text" class="txt" name="Phone" id="Phone" placeholder="请输入您的手机号" /></p>
                    <p><input type="text" class="txt" name="Nickname" id="Nickname" placeholder="请输入注册昵称" /></p>
                    <p><input type="password" class="txt" name="Password" id="Password" placeholder="请输入您的注册密码" /></p>
                    <p class="vcode"><input type="text" class="txt" name="ImgCode" id="ImgCode" placeholder="请输入图片验证码" /><img src="/Tools/verify_code.ashx" id="nl_cacl_code" title="点击切换验证码" onclick="ChangeCode('nl_cacl_code');" /></p>
                    <p class="vcode"><input type="text" class="txt" name="SmsCode" id="SmsCode" placeholder="请输入手机验证码" /><button type="button" id="getcode" onclick="SmsMethod.postSms('Phone', 'getcode', 'ImgCode');" class="btn">获取手机验证码</button></p>
                    <p><input type="checkbox" checked="checked" disabled="disabled" /> 我已认真阅读并同意港宏宜家的<a href="/" target="_blank">《使用协议》</a></p>
                    <p class="btn_p"><button type="submit" class="btn">立即注册</button></p>
                    <p class="txt_p">已有账号？<a href="/user/login">立即登录&gt;</a></p>
                </div>
            </form>
            <script type="text/javascript">
                $('#data_form').submit(function () {
                    var name = $("#Phone").val();
                    var nick = $("#Nickname").val();
                    var pwd = $("#Password").val();
                    var smsCode = $("#SmsCode").val();
                    var imgCode = $("#ImgCode").val();
                    if ($.trim(name) == "" || name.length != 11) {
                        layer.alert("请输入正确的手机号!");
                        return false;
                    }
                    if ($.trim(nick) == "") {
                        layer.alert("请输入注册昵称!");
                        return false;
                    }
                    if ($.trim(pwd) == "") {
                        layer.alert("请输入登录密码!");
                        return false;
                    }
                    if ($.trim(smsCode) == "") {
                        layer.alert("请输入您的短信验证码!");
                        return false;
                    }
                    if ($.trim(imgCode) == "") {
                        layer.alert("请输入您的图片验证码!");
                        return false;
                    }
                    $(this).ajaxSubmit({
                        url: "/user/reg",
                        type: "post",
                        dataType: "json",
                        beforeSubmit: function () {
                            layer.load(1, { shade: [0.1, '#000'] });
                        },
                        error: function () {
                            layer.closeAll();
                            layer.alert("请求失败");
                        },
                        success: function (data) {
                            layer.closeAll();
                            ChangeCode('nl_cacl_code');
                            if (data != null) {
                                if (data.Success) {
                                    layer.alert(data.Msg, function () {
                                        window.location.href = data.Source;
                                    });
                                }
                                else
                                    layer.alert(data.Msg);
                            }
                            else
                                layer.alert("提交失败");
                        }
                    });
                    return false;
                });
            </script>
        </div>
    </div>
</div>
@RenderPage("~/Views/Ctrl/_SmsCodeJs.cshtml")